* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 00 0 1px white, 0 0 10px white, 0 0 2px white;
}

.contend {
    width: 100vw;
    height: fit-content;
    padding: 1rem;
    background-color: black;
    /* rem é baseado na fonte do computador da pessoa */
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    padding: .25rem .5rem;
    padding: 1rem;
    margin: .25rem 0;
    color: white;
    background-color: #6c79db;
    border: none;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    
}

.pagination button:hover{
    cursor: pointer;
    background-color: #aab3f3;
    box-shadow: 0px 0px 40px #6c79db;

}

@media screen and (min-width: 992px){
    .contend{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
